.error {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

.status-code {
    border-right: 2px solid;
    font-size: 26px;
    padding: 0 15px 0 15px;
    text-align: center;
}

.error-message {
    font-size: 18px;
    padding: 10px;
    text-align: center;
}